{% extends 'theme/template.html.twig' %}
{% trans_default_domain 'correos' %}

{% block title %} {% trans %}TRANS_CORREOS_ENVIADOS{% endtrans %} {% endblock %}
{% block subtitle %} {% trans %}TRANS_LISTADO{% endtrans %} {% endblock %}

{% block actions %}
{% endblock %}


{% block card %}

    <script type="text/javascript">

        $(document).ready(function(){

            var arrayData = [];

            {% for l in log %}
                var array = [];


                array.push('{{ l.fecha|date('d/m/Y H:i') }}', '{{ l.destinatario }}', '{{ l.asunto }}', '{{ l.tipo }}', '{{ l.usuario.username }}');
                arrayData.push(array);
            {% endfor %}

            $.extend( $.fn.dataTable.defaults, {
                // autoWidth: true,
                // columnDefs: [{
                //     width: 100,
                // }],
                // ordering: false,
                deferRender: false,
                dom: '<"datatable-header"fBl><"datatable-scroll-wrap"t><"datatable-footer"ip>',
                lengthMenu: [[10, 25, 50, 100, 500, 2000, 5000], [10, 25, 50, 100, 500, 2000, 5000]],
                language: {
                    search: '<span>Filtrar:</span> _INPUT_',
                    searchPlaceholder: 'Escriba para filtrar...',
                    lengthMenu: '<span>Mostrar:</span> _MENU_',
                    paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
                },
                data: arrayData
            });

            $('.datatable-export-excel').DataTable({
                buttons: {
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            className: 'btn btn-success',
                            text: '<i class="icon-file-spreadsheet mr-2"></i> Exportar a Excel',
                            fieldSeparator: '\t',
                            extension: '.xlsx'
                        }
                    ]
                }
            });
        });
    </script>

    <div class="card">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
            <div class="datatable-scroll">
                <table class="table datatable-export-excel dataTable no-footer" id="DataTables_Table_0" role="grid"
                       aria-describedby="DataTables_Table_0_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Fecha">{% trans %}TRANS_FECHA{% endtrans %}
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Destinatario">{% trans %}TRANS_DESTINATARIO{% endtrans %}
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Asunto">{% trans %}TRANS_ASUNTO{% endtrans %}
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Data">{% trans %}TRANS_TIPO{% endtrans %}
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Usuario">{% trans %}TRANS_USUARIO{% endtrans %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}