{% extends 'theme/template.html.twig' %}
{% trans_default_domain 'trabajadores' %}

{% block title %} {% trans %}TRANS_TRABAJADORES{% endtrans %} {% endblock %}
{% block subtitle %} {% trans %}TRANS_LISTADO{% endtrans %} {% endblock %}

{% block actions %}
    {% if app.session.get('privilegiosRol').addTrabajadorSn is defined and app.session.get('privilegiosRol').addTrabajadorSn is not null %}
        {% if app.session.get('privilegiosRol').addTrabajadorSn %}
            <a href="{{ path('trabajador_create') }}" class="btn btn-labeled btn-labeled-left bg-primary">{% trans %}TRANS_NUEVO_TRABAJADOR{% endtrans %}<b><i class="icon-plus3"></i></b></a>
        {% endif %}
    {% endif %}

    {% if app.session.get('privilegiosRol').importTrabajadorSn is defined and app.session.get('privilegiosRol').importTrabajadorSn is not null %}
        {% if app.session.get('privilegiosRol').importTrabajadorSn %}
            <a href="#" class="btn btn-labeled btn-labeled-left bg-slate" style="margin-left: 5px;" data-toggle="modal" data-target="#modal_import_trabajador">{% trans %}TRANS_IMPORTAR_TRABAJADORES{% endtrans %}<b><i class="icon-import"></i></b></a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block card %}

    <style>
        .custom-file-label { opacity: 0; }
        .custom-file-input { opacity: 1; }
    </style>

    <script type="text/javascript">
        $(document).ready(function(){

            var arrayData = [];

            {% for trabajador in trabajadores %}
                var array = [];
                var actions = '<div class="list-icons">';

                {% if app.session.get('privilegiosRol').editTrabajadorSn is defined and app.session.get('privilegiosRol').editTrabajadorSn is not null %}
                    {% if app.session.get('privilegiosRol').editTrabajadorSn %}
                        actions += '<a href="{{ path('trabajador_update', { "id": trabajador.id }) }}" class="list-icons-item" data-popup="tooltip" title="Editar" data-container="body"><i class="icon-pencil7"></i></a>';
                    {% endif %}
                {% endif %}

                {% if app.session.get('privilegiosRol').deleteTrabajadorSn is defined and app.session.get('privilegiosRol').deleteTrabajadorSn is not null %}
                    {% if app.session.get('privilegiosRol').deleteTrabajadorSn %}
                        actions += '<a href="{{ path('trabajador_delete', { "id": trabajador.id, "tipo": 1 }) }}" class="list-icons-item" data-popup="tooltip" title="Eliminar" data-container="body" onclick="return confirm(\'{% trans from 'messages' %}TRANS_CONFIRM_DELETE_REGISTRO{% endtrans %}\');"><i class="icon-trash"></i></a>';
                    {% endif %}
                {% endif %}

                actions += '</div>';

                array.push(actions, '{{ trabajador.nombre }}', '{{ trabajador.dni }}');
                arrayData.push(array);
            {% endfor %}

            $.extend( $.fn.dataTable.defaults, {
                // autoWidth: true,
                // columnDefs: [{
                //     width: 100,
                // }],
                // ordering: true,
                deferRender: true,
                dom: '<"datatable-header"fBl><"datatable-scroll-wrap"t><"datatable-footer"ip>',
                lengthMenu: [[10, 25, 50, 100, 500, 2000, 5000], [10, 25, 50, 100, 500, 2000, 5000]],
                language: {
                    search: '<span>Filtrar:</span> _INPUT_',
                    searchPlaceholder: 'Escriba para filtrar...',
                    lengthMenu: '<span>Mostrar:</span> _MENU_',
                    paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
                },
                data: arrayData
            });

            $('.datatable-export-excel').DataTable({
                buttons: {
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            className: 'btn btn-success',
                            text: '<i class="icon-file-spreadsheet mr-2"></i> Exportar a Excel',
                            fieldSeparator: '\t',
                            extension: '.xlsx'
                        }
                    ]
                }
            });

            {% if app.session.get('privilegiosRol').exportTrabajadorSn is defined and app.session.get('privilegiosRol').exportTrabajadorSn is not null %}
                {% if app.session.get('privilegiosRol').exportTrabajadorSn != true %}
                    $('.dt-buttons').css('display', 'none');
                {% endif %}
            {% endif %}
        });
    </script>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success bg-white alert-styled-left alert-arrow-left alert-dismissible">
            <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger bg-white alert-styled-left alert-arrow-left alert-dismissible">
            <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
            {{ message }}
        </div>
    {% endfor %}


    <div class="card">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">

            <div class="datatable-scroll">
                <table class="table datatable-export-excel dataTable no-footer" id="DataTables_Table_0" role="grid"
                       aria-describedby="DataTables_Table_0_info">
                    <thead>
                    <tr role="row">
                        <th class="text-center sorting_disabled" rowspan="1" colspan="1" aria-label="Actions"
                            style="width: 100px;">{% trans from 'messages' %}TRANS_ACCIONES{% endtrans %}
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Nombre" aria-sort="none">{% trans %}TRANS_NOMBRE{% endtrans %}
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="DNI" aria-sort="none">{% trans %}TRANS_DNI{% endtrans %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal import trabajador -->
    <div id="modal_import_trabajador" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans %}TRANS_IMPORTAR_TRABAJADORES{% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">

                    {{ form_start(form) }}

                    {{ form_row(form.empresa) }}

                    {{ form_row(form.fichero) }}

                    <div class="alert alert-info bg-white alert-styled-left alert-arrow-left alert-dismissible">
                        {% trans %}TRANS_PROCESO_DURACION{% endtrans %}
                    </div>

                </div>

                <div class="modal-footer">
                    {% if app.session.get('privilegiosRol').importTrabajadorSn is defined and app.session.get('privilegiosRol').importTrabajadorSn is not null %}
                        {% if app.session.get('privilegiosRol').importTrabajadorSn %}
                            {{ form_row(form.importar) }}
                        {% else %}
                            {{ form_row(form.importar, {'attr': {'style': 'display: none;'}}) }}
                        {% endif %}
                    {% else %}
                        {{ form_row(form.importar, {'attr': {'style': 'display: none;'}}) }}
                    {% endif %}
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <!-- /Modal import trabajador -->
{% endblock %}