{% extends 'theme/template.html.twig' %}
{% trans_default_domain 'balanceeconomico' %}

{% block arrow %}<a href="{{ path('empresa_update', { "id": app.session.get('empresa').id }) }}" style="color: black;" onclick="return confirm('{% trans from 'messages' %}TRANS_CONFIRM_RETURN{% endtrans %}')"><i class="icon-arrow-left52 mr-2"></i></a>{% endblock %}
{% block title %} {% trans %}TRANS_BALANCE_ECONOMICO{% endtrans %} {% endblock %}
{% block subtitle %}
    {% trans %}TRANS_NUEVO_GIRO{% endtrans %}
{% endblock %}

{% block card %}

    <script type="text/javascript">
        $(document).ready(function(){

            $.ajax({
                type: "POST",
                url: "{{ path('balance_economico_recupera_datos_factura') }}",
                data: {
                    'facturaId': $('#giro_bancario_facturacion').val()
                },
                dataType: "JSON",
                success: function (data) {
                    if(data != ""){
                        $('#giro_bancario_importeFactura').val(data.importe);
                        $('#giro_bancario_importe').val(data.importe);
                    }
                },
                error: function(){
                    new PNotify({
                        title: 'Ops!',
                        text: '{% trans from "messages" %}TRANS_AVISO_ERROR{% endtrans %}',
                        icon: 'icon-blocked',
                        type: 'error'
                    });
                }
            });

            $('#giro_bancario_facturacion').on('change', function(){

                $.ajax({
                    type: "POST",
                    url: "{{ path('balance_economico_recupera_datos_factura') }}",
                    data: {
                        'facturaId': $('#giro_bancario_facturacion').val()
                    },
                    dataType: "JSON",
                    success: function (data) {
                        if(data != ""){
                            $('#giro_bancario_importeFactura').val(data.importe);
                            $('#giro_bancario_importe').val(data.importe);
                        }
                    },
                    error: function(){
                        new PNotify({
                            title: 'Ops!',
                            text: '{% trans from "messages" %}TRANS_AVISO_ERROR{% endtrans %}',
                            icon: 'icon-blocked',
                            type: 'error'
                        });
                    }
                });
            });

            $('#girosPeriodicos').click(function(){
                if ($("#girosFrecuenciaDiv").css("display") == "block") {
                    $('#girosFrecuenciaDiv').css('display','none');
                    $('#giro_bancario_giroFechaInicio').attr('required', false);
                    $('#giro_bancario_giroRealizar').attr('required', false);
                    $('#giro_bancario_giroCada').attr('required', false);

                    $('#giro_bancario_vencimiento').attr('required', true);
                    $('#giro_bancario_importe').attr('required', true);
                    $('#giro_bancario_vencimiento').attr('disabled', false);
                    $('#giro_bancario_importe').attr('disabled', false);
                }else{
                    $('#girosFrecuenciaDiv').css('display','block');
                    $('#giro_bancario_giroFechaInicio').attr('required', true);
                    $('#giro_bancario_giroRealizar').attr('required', true);
                    $('#giro_bancario_giroCada').attr('required', true);

                    $('#giro_bancario_vencimiento').attr('required', false);
                    $('#giro_bancario_importe').attr('required', false);
                    $('#giro_bancario_vencimiento').attr('disabled', true);
                    $('#giro_bancario_importe').attr('disabled', true);
                }
            });

        });
    </script>

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}

            <div class="row">
                <div class="col-lg-12">
                    {{ form_row(form.empresa) }}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    {{ form_row(form.facturacion) }}
                </div>
                <div class="col-lg-4">
                    {{ form_row(form.importeFactura, {'attr': {'class': 'type_text_to_number'}}) }}
                </div>
                <div class="col-lg-4">
                    {{ form_row(form.fecha) }}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-labeled btn-labeled-left bg-brown" id="girosPeriodicos"><b><i class="icon-calendar3"></i></b>{% trans %}TRANS_AÑADIR_GIROS_PERIODICOS{% endtrans %}</button>
                </div>
            </div>

            <br/>

            <fieldset id="girosFrecuenciaDiv" style="display: none;">
                <legend class="text-uppercase font-size-sm font-weight-bold">{% trans %}TRANS_GIROS_PERIODICOS{% endtrans %}</legend>
                <div class="row">
                    <div class="col-lg-3">
                        {{ form_row(form.giroFechaInicio) }}
                    </div>
                    <div class="col-lg-3">
                        {{ form_row(form.giroRealizar) }}
                    </div>
                    <div class="col-lg-3">
                        {{ form_row(form.giroCada) }}
                    </div>
                    <div class="col-lg-3">
                        {{ form_row(form.giroFrecuencia) }}
                    </div>
                </div>
            </fieldset>

            <hr/>

            <div class="row">
                <div class="col-lg-6">
                    {{ form_row(form.vencimiento) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(form.importe, {'attr': {'class': 'type_text_to_number'}}) }}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    {{ form_row(form.cuenta) }}
                </div>
            </div>


        </div>

        <div class="card-footer d-flex justify-content-between align-items-center border-top-0">
            {% if app.session.get('privilegiosRol').addGiroBalanceEconomicoSn is defined and app.session.get('privilegiosRol').addGiroBalanceEconomicoSn is not null %}
                {% if app.session.get('privilegiosRol').addGiroBalanceEconomicoSn %}
                    {{ form_row(form.guardar) }}
                {% else %}
                    {{ form_row(form.guardar, {'attr': {'style': 'display: none;'}}) }}
                {% endif %}
            {% else %}
                {{ form_row(form.guardar, {'attr': {'style': 'display: none;'}}) }}
            {% endif %}
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}



