{% extends 'theme/template.html.twig' %}
{% trans_default_domain 'mantenimientoreconocimientos' %}

{% block arrow %}
    {% if (app.session.get('cuestionario') is defined and app.session.get('cuestionario') is not empty ) %}
        <a href="{{ path('mantenimiento_reconocimientos_cuestionario_update', { "id": app.session.get('cuestionario') }) }}" style="color: black;" onclick="return confirm('{% trans from 'messages' %}TRANS_CONFIRM_RETURN{% endtrans %}')"><i class="icon-arrow-left52 mr-2"></i></a>
    {% else %}
        <a href="{{ path('mantenimiento_reconocimientos') }}" style="color: black;" onclick="return confirm('{% trans from 'messages' %}TRANS_CONFIRM_RETURN{% endtrans %}')"><i class="icon-arrow-left52 mr-2"></i></a>
    {% endif %}
{% endblock %}
{% block title %} {% trans %}TRANS_CUESTIONARIO_PREGUNTAS{% endtrans %} {% endblock %}
{% block subtitle %}
    {% if (app.request.get('id') is defined and app.request.get('id') is not empty ) %}
        {{ form.vars.value.grupo }} - {{ form.vars.value.orden }} - {{ form.vars.value.pregunta }}
    {% else %}
        {% trans from 'messages' %}TRANS_NUEVA{% endtrans %}
    {% endif %}
{% endblock %}

{% block card %}

    <script type="text/javascript">
        $(document).ready(function(){

        });

    </script>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success bg-white alert-styled-left alert-arrow-left alert-dismissible">
            <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
            {{ message }}
        </div>
    {% endfor %}

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}

            <div class="row">
                <div class="col-lg-1">
                    {{ form_row(form.grupo) }}
                </div>
                <div class="col-lg-1">
                    {{ form_row(form.orden) }}
                </div>
                <div class="col-lg-4">
                    {{ form_row(form.pregunta) }}
                </div>
            </div>
        </div>

        <div class="card-footer d-flex justify-content-between align-items-center border-top-0">
            {% if app.session.get('privilegiosRol').mantenimientoCuestionariosSn is defined and app.session.get('privilegiosRol').mantenimientoCuestionariosSn is not null %}
                {% if app.session.get('privilegiosRol').mantenimientoCuestionariosSn %}
                    {{ form_row(form.guardar) }}
                {% else %}
                    {{ form_row(form.guardar, {'attr': {'style': 'display: none;'}}) }}
                {% endif %}
            {% else %}
                {{ form_row(form.guardar, {'attr': {'style': 'display: none;'}}) }}
            {% endif %}
        </div>

        {{ form_end(form) }}
    </div>


{% endblock %}



