<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ asset('images/logo_mdt_blanc.PNG') }}" type="image/png" />
    <title>MDT Prevención - Intranet</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/icons/icomoon/styles.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/bootstrap_limitless.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/layout.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/components.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/colors.min.css') }}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script src="{{ asset('js/main/jquery.min.js') }}"></script>
    <script src="{{ asset('js/main/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/plugins/loaders/blockui.min.js') }}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="{{ asset('js/plugins/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('js/plugins/tables/datatables/extensions/jszip/jszip.min.js') }}"></script>
    <script src="{{ asset('js/plugins/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script src="{{ asset('js/plugins/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script src="{{ asset('js/plugins/forms/styling/uniform.min.js') }}"></script>
{#    <script src="{{ asset('js/plugins/forms/styling/switchery.min.js') }}"></script>#}
    <script src="{{ asset('js/plugins/forms/styling/switch.min.js') }}"></script>
    <script src="{{ asset('js/plugins/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('js/plugins/extensions/jquery_ui/interactions.min.js') }}"></script>
    <script src="{{ asset('js/plugins/visualization/c3/c3.min.js') }}"></script>
    <script src="{{ asset('js/plugins/visualization/d3/d3.min.js') }}"></script>
    <script src="{{ asset('js/plugins/visualization/echarts/echarts.min.js') }}"></script>

    <script src="{{ asset('js/app.js') }}"></script>
{#    <script src="{{ asset('js/datatables/datatables_basic.js') }}"></script>#}
    <script src="{{ asset('js/datatables_extension_buttons_html5.js') }}"></script>
    <script src="{{ asset('js/form_checkboxes_radios.js') }}"></script>
    <script src="{{ asset('js/form_select2.js') }}"></script>
    <script src="{{ asset('js/extra_pnotify.js') }}"></script>
    <script src="{{ asset('js/components_progress.js') }}"></script>
    <script src="{{ asset('js/components_modals.js') }}"></script>
    <script src="{{ asset('js/pie_basic.js') }}"></script>
{#    <script src="{{ asset('js/datatables_definition.js') }}"></script>#}

    <!-- /theme JS files -->
    <script type="text/javascript">
        $(document).ready(function () {

            {% if (app.session.get('administrador') is defined and app.session.get('administrador')) or (app.session.get('grupoEmpresa') is defined and app.session.get('grupoEmpresa')) %}
                //Recuperamos las empresas
                $.ajax({
                    type: "POST",
                    url: "{{ path('recuperar_empresas') }}",
                    data: {
                    },
                    dataType: "JSON",
                    success: function (data) {
                        $.each(data, function (i, item) {
                            $('#selectEmpresa').append('<option value="' + item["id"] + '">' + item["empresa"] + '</option>');
                        });
                    }
                });

                $('#btnChangeEmpresa').click(function(){
                    var id = $('#selectEmpresa').val();

                    $('#btnChangeEmpresa').prop("disabled", true);
                    $('#btnChangeEmpresa').html("<i class=\"icon-spinner2 spinner mr-2\"></i>Guardar");

                    $.ajax({
                        type: "POST",
                        url: "{{ path('cambiar_empresa') }}",
                        data: {
                            'id': id
                        },
                        dataType: "JSON",
                        success: function (data) {
                            if(data == 'OK'){
                                location.reload();
                            }
                        }
                    });
                });
            {% endif %}
        });

        function cambioIdioma(idioma){
            var error = null;

            $.ajax({
                type: "POST",
                url: "{{ path('cambio_idioma') }}",
                data: {
                    'idioma': idioma
                },
                dataType: "JSON",
                success: function (data) {

                    $.each(data, function (i, item) {
                        if (item == "OK") {
                            location.reload();
                        } else {
                            error = error + item;
                        }
                    });

                    if (error != null) {
                        alert(error);
                    }
                }
            });
        }

    </script>
</head>

