{% extends 'theme/template.html.twig' %}
{% trans_default_domain 'puestotrabajoprotocolocuestionario' %}

{% block arrow %}
    <a href="{{ path('puesto_trabajo_protocolo_cuestionario') }}" style="color: black;" onclick="return confirm('{% trans from 'messages' %}TRANS_CONFIRM_RETURN{% endtrans %}')"><i class="icon-arrow-left52 mr-2"></i></a>
{% endblock %}
{% block title %} {% trans %}TRANS_PUESTO_TRABAJO_PROTOCOLO{% endtrans %} {% endblock %}
{% block subtitle %}
    {% if (app.request.get('empresaId') is defined and app.request.get('empresaId') is not empty ) %}
        {{ empresaNombre }} - {{ puestoTrabajoNombre }}
    {% else %}
        {% trans from 'messages' %}TRANS_NUEVO{% endtrans %}
    {% endif %}
{% endblock %}

{% block card %}

    <script type="text/javascript">
        $(document).ready(function(){
            {#$('#puesto_trabajo_protocolo_empresa').change(function () {#}
            {#    var empresaId = $(this).val();#}
            {#    if(empresaId != ""){#}
            {#        $.ajax({#}
            {#            type: "POST",#}
            {#            url: "{{ path('puesto_trabajo_protocolo_cuestionario_buscar_puesto_trabajo_empresa') }}",#}
            {#            data: {#}
            {#                'empresaId': empresaId,#}
            {#            },#}
            {#            dataType: "JSON",#}
            {#            success: function (data) {#}
            {#                if (JSON.parse(data) != "") {#}
            {#                    $('#puesto_trabajo_protocolo_puestoTrabajo').empty();#}
            {#                    $("#puesto_trabajo_protocolo_puestoTrabajo").append('<option value=""></option>');#}
            {#                    $.each(JSON.parse(data), function (i, item) {#}
            {#                        $('#puesto_trabajo_protocolo_puestoTrabajo').append('<option value="' + item['id'] + '">' + item['descripcion'] + '</option>');#}
            {#                    });#}
            {#                }#}
            {#            },#}
            {#            complete: function (){#}
            {#                $('#puesto_trabajo_protocolo_puestoTrabajo').focus();#}
            {#            },#}
            {#            error: function () {#}
            {#                new PNotify({#}
            {#                    title: 'Ops!',#}
            {#                    text: '{% trans from "messages" %}TRANS_AVISO_ERROR{% endtrans %}',#}
            {#                    icon: 'icon-blocked',#}
            {#                    type: 'error'#}
            {#                });#}
            {#            }#}
            {#        });#}
            {#    }#}
            {#});#}
        });

    </script>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success bg-white alert-styled-left alert-arrow-left alert-dismissible">
            <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
            {{ message }}
        </div>
    {% endfor %}

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}

            <div class="row">
                <div class="col-lg-2">
                    {{ form_row(form.actualizado) }}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    {{ form_row(form.protocolo) }}
                </div>
            </div>

        </div>

        <div class="card-footer d-flex justify-content-between align-items-center border-top-0">
            {% if app.session.get('privilegiosRol').puestoTrabajoProtocoloSn is defined and app.session.get('privilegiosRol').puestoTrabajoProtocoloSn is not null %}
                {% if app.session.get('privilegiosRol').puestoTrabajoProtocoloSn %}
                    {{ form_row(form.guardar) }}
                {% else %}
                    {{ form_row(form.guardar, {'attr': {'style': 'display: none;'}}) }}
                {% endif %}
            {% else %}
                {{ form_row(form.guardar, {'attr': {'style': 'display: none;'}}) }}
            {% endif %}
        </div>

        {{ form_end(form) }}
    </div>


{% endblock %}



