{% extends 'theme/template.html.twig' %}
{% trans_default_domain 'evaluacion' %}

{% block arrow %}
    <a href="{{ path('medico_trabajador_puesto_trabajo_evaluar', { "id": app.session.get('puestoTrabajoEvaluacionId') }) }}" style="color: black;" onclick="return confirm('{% trans from 'messages' %}TRANS_CONFIRM_RETURN{% endtrans %}')"><i class="icon-arrow-left52 mr-2"></i></a>
{% endblock %}
{% block title %} {% trans %}TRANS_RIESGOS_CAUSAS{% endtrans %} {% endblock %}
{% block subtitle %}
    {% if (app.request.get('id') is defined and app.request.get('id') is not empty ) %}
        {% if form.vars.value.grupoRiesgo is not empty %}
            {{ form.vars.value.grupoRiesgo.codigo }} - {{ form.vars.value.grupoRiesgo }}
        {% endif %}

        {% if form.vars.value.riesgo is not empty %}
            / {{ form.vars.value.riesgo.codigo }} - {{ form.vars.value.riesgo }}
        {% endif %}
    {% else %}
        {% trans from 'messages' %}TRANS_NUEVO{% endtrans %}
    {% endif %}
{% endblock %}

{% block card %}

    <script type="text/javascript">
        $(document).ready(function(){

            $('#riesgo_causa_riesgo').change(function () {
                var riesgoId = $(this).val();
                var grupoRiesgoId = $('#riesgo_causa_grupoRiesgo').val();
                var causaId = $('#riesgo_causa_causa').val();

                $('#riesgo_causa_causa').empty();
                $('#riesgo_causa_causa').prop('disabled', true);

                $.ajax({
                    type: "POST",
                    url: "{{ path('tecnico_evaluaciones_evaluacion_busca_causas') }}",
                    data: {
                        'riesgoId': riesgoId,
                        'grupoRiesgoId': grupoRiesgoId,
                    },
                    dataType: "JSON",
                    success: function (data) {
                        if (JSON.parse(data) != "") {
                            $('#riesgo_causa_causa').empty();
                            $("#riesgo_causa_causa").append('<option value=""></option>');
                            $.each(JSON.parse(data), function (i, item) {
                                $("#riesgo_causa_causa").append('<option value="' + item['id'] + '">' + item['descripcion'] + '</option>');
                            });
                        }
                    },
                    complete: function (){
                        $("#riesgo_causa_causa").val(causaId).change();
                        $('#riesgo_causa_causa').prop('disabled', false);
                    },
                    error: function () {
                        new PNotify({
                            title: 'Ops!',
                            text: '{% trans from "messages" %}TRANS_AVISO_ERROR{% endtrans %}',
                            icon: 'icon-blocked',
                            type: 'error'
                        });
                    }
                });
            });

            $('#riesgo_causa_valorRiesgo').attr("style", "pointer-events: none;");

            function buscaValorRiesgo(severidad, probabilidad){
                $.ajax({
                    type: "POST",
                    url: "{{ path('tecnico_evaluaciones_evaluacion_busca_valor_riesgo') }}",
                    data: {
                        'severidadId': severidad,
                        'probabilidadId': probabilidad
                    },
                    dataType: "JSON",
                    success: function (data) {
                        if (data != "") {
                            if(data.valorRiesgo == 1 || data.valorRiesgo == 2){

                                //Sumamos 30 dias a la fecha de realización
                                var today = new Date();
                                var dd = today.getDate();
                                today.setDate(today.getDate() + 30);
                                var mm = today.getMonth()+1;
                                var yyyy = today.getFullYear();
                                if(dd<10){dd='0'+dd}
                                if(mm<10){mm='0'+mm}
                                today = yyyy+'-'+mm+'-'+dd;

                                $('#riesgo_causa_fechaRealizacion').val(today);
                            }
                            $('#riesgo_causa_valorRiesgo').val(data.valorRiesgo).change();
                        }
                    },
                    error: function () {
                        new PNotify({
                            title: 'Ops!',
                            text: '{% trans from "messages" %}TRANS_AVISO_ERROR{% endtrans %}',
                            icon: 'icon-blocked',
                            type: 'error'
                        });
                    }
                });
            }

            //Evento cuando cambia severidad
            $("#riesgo_causa_severidad").change(function () {
                var severidad = $("#riesgo_causa_severidad").val();
                var probabilidad = $("#riesgo_causa_probabilidad").val();

                if(severidad != "" && probabilidad != ""){
                    buscaValorRiesgo(severidad, probabilidad);
                }
            });

            //Evento cuando cambia severidad
            $("#riesgo_causa_probabilidad").change(function () {
                var severidad = $("#riesgo_causa_severidad").val();
                var probabilidad = $("#riesgo_causa_probabilidad").val();

                if(severidad != "" && probabilidad != ""){
                    buscaValorRiesgo(severidad, probabilidad);
                }
            });
        });

    </script>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success bg-white alert-styled-left alert-arrow-left alert-dismissible">
            <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
            {{ message }}
        </div>
    {% endfor %}

    {% if (app.request.get('id') is defined and app.request.get('id') is not empty ) %}
        <div class="row">
            <div class="col-lg-12">
                <a href="{{ path('medico_trabajador_puesto_trabajo_riesgo_causa_add') }}" class="btn btn-labeled btn-labeled-left bg-primary">{% trans %}TRANS_AÑADIR_OTRO_RIESGO_CAUSA{% endtrans %}<b><i class="icon-plus3"></i></b></a>
            </div>
        </div>
        <br/>
    {% endif %}

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}

            <div class="row">
                <div class="col-lg-4">
                    {{ form_row(form.grupoRiesgo) }}
                </div>
                <div class="col-lg-4">
                    {{ form_row(form.riesgo) }}
                </div>
                <div class="col-lg-4">
                    {{ form_row(form.causa) }}
                </div>
            </div>

            <fieldset style="display: none;">
                <legend class="text-uppercase font-size-sm font-weight-bold">{% trans %}TRANS_VALORACION{% endtrans %}</legend>
                <div class="row">
                    <div class="col-lg-4">
                        {{ form_row(form.severidad) }}
                    </div>
                    <div class="col-lg-4">
                        {{ form_row(form.probabilidad) }}
                    </div>
                    <div class="col-lg-4">
                        {{ form_row(form.valorRiesgo) }}
                    </div>
                </div>
            </fieldset>

            <fieldset style="display: none;">
                <legend class="text-uppercase font-size-sm font-weight-bold">{% trans %}TRANS_OBSERVACION_CAUSA{% endtrans %}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.observacionCausa) }}
                    </div>
                </div>
            </fieldset>

            <fieldset style="display: none;">
                <legend class="text-uppercase font-size-sm font-weight-bold">{% trans %}TRANS_PLANIFICACION_PREVENTIVA{% endtrans %}</legend>
                <div class="row">
                    <div class="col-lg-2">
                        {{ form_row(form.tipoPlanificacion) }}
                    </div>
                    <div class="col-lg-2">
                        {{ form_row(form.fechaPrevista) }}
                        <div class="form-group">
                            <input type="text" id="riesgo_causa_fechaPrevista_continuo" class="form-control" value="CONTINUO"/>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        {{ form_row(form.fechaRealizacion) }}
                    </div>
                    <div class="col-lg-2">
                        {{ form_row(form.costePrevisto, {'attr': {'class': 'type_text_to_number'}}) }}
                    </div>
                    <div class="col-lg-2">
                        {{ form_row(form.responsable) }}
                    </div>
                </div>
            </fieldset>

        </div>

        <div class="card-footer d-flex justify-content-between align-items-center border-top-0">
            {% if app.session.get('privilegiosRol').editEvaluacionSn is defined and app.session.get('privilegiosRol').editEvaluacionSn is not null %}
                {% if app.session.get('privilegiosRol').editEvaluacionSn %}
                    {{ form_row(form.guardar) }}
                {% else %}
                    {{ form_row(form.guardar, {'attr': {'style': 'display: none;'}}) }}
                {% endif %}
            {% else %}
                {{ form_row(form.guardar, {'attr': {'style': 'display: none;'}}) }}
            {% endif %}
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}



