{% extends 'theme/template.html.twig' %}
{% trans_default_domain 'evaluacion' %}

{% block arrow %}<a href="{{ path('medico_trabajador_update', { "id": app.session.get('trabajadorId') }) }}" style="color: black;" onclick="return confirm('{% trans from 'messages' %}TRANS_CONFIRM_RETURN{% endtrans %}')"><i class="icon-arrow-left52 mr-2"></i></a>{% endblock %}
{% block title %} {% trans %}TRANS_EVALUACION{% endtrans %} {% endblock %}
{% block subtitle %}
    {% if (app.request.get('id') is defined and app.request.get('id') is not empty ) %}
        {{ trabajador.nombre }} - {{ fechaEvaluacion }}
    {% else %}
        {% trans from 'messages' %}TRANS_NUEVA{% endtrans %}
    {% endif %}
{% endblock %}

{% block card %}

    <script type="text/javascript">
        $(document).ready(function(){
        });

        function deleteRiesgoCausa(id) {
            $.ajax({
                type: "POST",
                url: "{{ path('tecnico_evaluaciones_evaluacion_delete_riesgo_causa') }}",
                data: {
                    'riesgoCausaId': id
                },
                dataType: "JSON",
                success: function (data) {
                    if (data == "OK") {
                        location.reload();
                    }
                },
                error: function () {
                    new PNotify({
                        title: 'Ops!',
                        text: '{% trans from "messages" %}TRANS_AVISO_ERROR{% endtrans %}',
                        icon: 'icon-blocked',
                        type: 'error'
                    });
                }
            });
        }

        //Boton que elimina el riesgo-causa seleccionado
        $(document).on('click', 'a.eliminarRiesgoCausa', function(){
            var id = $(this).data('id');
            bootbox.confirm({
                title: '{% trans %}TRANS_ELIMINAR_RIESGO_CAUSA{% endtrans %}',
                message: '{% trans from 'messages' %}TRANS_CONFIRM_DELETE_REGISTRO{% endtrans %}',
                buttons: {
                    confirm: {
                        label: 'Si',
                        className: 'btn-primary'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-link'
                    }
                },
                callback: function (result) {
                    if(result == true){
                        deleteRiesgoCausa(id)
                    }
                }
            });
        });

    </script>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success bg-white alert-styled-left alert-arrow-left alert-dismissible">
            <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
            {{ message }}
        </div>
    {% endfor %}

    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-lg-12">
                    <a href="{{ path('tecnico_evaluaciones_evaluacion_create_riesgo_causa') }}" class="btn btn-labeled btn-labeled-left bg-grey-300">{% trans %}TRANS_AÑADIR_RIESGO_CAUSA{% endtrans %}<b><i class="icon-plus3"></i></b></a>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-bordered">
                        <table class="table" id="riesgosCausas">
                            <thead>
                            <tr class="bg-grey-300">
                                <th>{% trans %}TRANS_GRUPO{% endtrans %}</th>
                                <th>{% trans %}TRANS_RIESGO{% endtrans %}</th>
                                <th>{% trans %}TRANS_CAUSA{% endtrans %}</th>
                                <th>{% trans %}TRANS_VALORACION{% endtrans %}</th>
                                <th>{% trans from 'messages' %}TRANS_ACCIONES{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if riesgosCausas is defined and riesgosCausas is not empty %}
                                {% for rc in riesgosCausas %}
                                    <tr>
                                        {% if rc.grupoRiesgo is not empty %}
                                            <td>{{ rc.grupoRiesgo.codigo }} - {{ rc.grupoRiesgo }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        {% if rc.riesgo is not empty %}
                                            <td>{{ rc.riesgo.codigo }} - {{ rc.riesgo }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        <td>{{ rc.causa }}</td>
                                        {% if rc.valorRiesgo is not empty %}
                                            <td>{{ rc.valorRiesgo.descripcion }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        <td>
                                            <div class="list-icons">
                                                <a href="{{ path('medico_trabajador_puesto_trabajo_riesgo_causa_update', { "id": rc.id }) }}" class="list-icons-item"><i class="icon-pencil7"></i></a>
                                                <a href="#" data-id="{{ rc.id }}" target="_self" class="list-icons-item eliminarRiesgoCausa"><i class="icon-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5" align="center">{% trans from 'messages' %}TRANS_SIN_REGISTROS{% endtrans %}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



