{% extends 'theme/template.html.twig' %}
{% trans_default_domain 'buscadores' %}

{% block arrow %}<a href="{{ path('buscadores_show') }}" style="color: black;" onclick="return confirm('{% trans from 'messages' %}TRANS_CONFIRM_RETURN{% endtrans %}')"><i class="icon-arrow-left52 mr-2"></i></a>{% endblock %}
{% block title %} {% trans %}TRANS_BUSCADOR{% endtrans %} {% endblock %}
{% block subtitle %}
    {% if (app.request.get('id') is defined and app.request.get('id') is not empty ) %}
        {{ nombreConsulta }}
    {% else %}
        {% trans from 'messages' %}TRANS_NUEVA{% endtrans %}
    {% endif %}
{% endblock %}

{% block card %}

    <style>
        input[type="text"]{
            background-color: #ffffff !important;
            border: 1px solid #cccccc !important;
            display: inline-block !important;
            font-size: 14px !important;
            line-height: 20px !important;
            color: #555555 !important;
            vertical-align: middle !important;
            border-radius: 4px !important;
            width: 100% !important;
        }
    </style>

    <link href="{{ asset('css/multi-select.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ asset('js/jquery.quicksearch.js') }}"></script>
    <script src="{{ asset('js/jquery.multi-select.js') }}"></script>


    <script type="text/javascript">
        $(document).ready(function(){

            $("#buscador_variables").multiSelect({
                selectableHeader: "<div class='custom-header'><strong>{% trans %}TRANS_CAMPOS{% endtrans %}</strong></div><input type='text' style='margin-top: 5px; margin-bottom: 10px; width: 99%; height: 30px;' class='search-input' autocomplete='off' placeholder='{% trans %}TRANS_BUSCAR{% endtrans %}'>",
                selectionHeader: "<div class='custom-header'><strong>{% trans %}TRANS_CAMPOS_SELECCIONADOS{% endtrans %}</strong></div><input type='text' style='margin-top: 5px; margin-bottom: 10px; width: 99%; height: 30px;' class='search-input' autocomplete='off' placeholder='{% trans %}TRANS_BUSCAR{% endtrans %}'>",
                // selectableFooter: "<div id='select-all' class='custom-footer'><a href='#'><strong>Afegir totes</a></strong></div>",
                selectionFooter: "<div id='deselect-all' class='custom-footer'><a href='#'><strong>{% trans %}TRANS_ELIMINAR_TODOS{% endtrans %}</strong></a></div>",
                afterInit: function (ms) {
                    var that = this,
                        $selectableSearch = that.$selectableUl.prev(),
                        $selectionSearch = that.$selectionUl.prev(),
                        selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                        selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                        .on('keydown', function (e) {
                            if (e.which === 40) {
                                that.$selectableUl.focus();
                                return false;
                            }
                        });

                    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                        .on('keydown', function (e) {
                            if (e.which == 40) {
                                that.$selectionUl.focus();
                                return false;
                            }
                        });
                },
                afterSelect: function () {
                    this.qs1.cache();
                    this.qs2.cache();
                },
                afterDeselect: function (values) {
                    this.qs1.cache();
                    this.qs2.cache();
                }
            });

            $('#deselect-all').click(function () {
                $('#buscador_variables').multiSelect('deselect_all');
                return false;
            });

        });

    </script>

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}

            <div class="row">
                <div class="col-lg-12">
                    {{ form_row(form.nombre) }}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    {{ form_row(form.compartida) }}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    {{ form_row(form.variables) }}
                </div>
            </div>

        </div>

        <div class="card-footer d-flex justify-content-between align-items-center border-top-0">
            {% if app.session.get('privilegiosRol').editBuscadorSn is defined and app.session.get('privilegiosRol').editBuscadorSn is not null %}
                {% if app.session.get('privilegiosRol').editBuscadorSn %}
                    {{ form_row(form.guardar) }}
                {% else %}
                    {{ form_row(form.guardar, {'attr': {'style': 'display: none;'}}) }}
                {% endif %}
            {% else %}
                {{ form_row(form.guardar, {'attr': {'style': 'display: none;'}}) }}
            {% endif %}
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}



