{% extends 'theme/template.html.twig' %}
{% trans_default_domain 'renovaciones' %}

{% block arrow %}<a href="{{ path('renovacion_show') }}" style="color: black;" onclick="return confirm('{% trans from 'messages' %}TRANS_CONFIRM_RETURN{% endtrans %}')"><i class="icon-arrow-left52 mr-2"></i></a>{% endblock %}
{% block title %} {% trans %}TRANS_RENOVACION{% endtrans %} {% endblock %}
{% block subtitle %}
    {% if (app.request.get('id') is defined and app.request.get('id') is not empty ) %}
        {% if form.vars.value.contrato is not null %}
            {{ form.vars.value.contrato.contrato }} - {{ form.vars.value.contrato.empresa }}
        {% endif %}
    {% else %}
        {% trans from 'messages' %}TRANS_NUEVA{% endtrans %}
    {% endif %}
{% endblock %}

{% block card %}

    <script type="text/javascript">
        $(document).ready(function(){

            var tipoContratoId = '{{ tipoContrato }}';

            if(tipoContratoId != null){
                switch (tipoContratoId) {
                    case '1':
                        $('[id^=renovacion_renovar_fraccionamientoPago]').prop('disabled', true);
                        $('#noAplicable').html('{% trans %}TRANS_NO_APLICABLE_VIG_SALUD{% endtrans %}');
                        break;
                    default:
                        $('[id^=renovacion_renovar_fraccionamientoPago]').prop('disabled', false);
                        $('#noAplicable').html('');
                }
            }

            $('[id^=renovacion_renovar_fraccionamientoPago]').change(function(){
                if($('#renovacion_renovar_fraccionamientoPago_2').is(':checked')){
                    $('#renovacion_renovar_numeroPagos').prop('disabled', false);
                }else{
                    $('#renovacion_renovar_numeroPagos').prop('disabled', true);
                    $('#renovacion_renovar_numeroPagos').val(null);
                }
            });

            $('[id^=renovacion_renovar_fraccionamientoPago]').each(function(){
                if($('#renovacion_renovar_fraccionamientoPago_2').is(':checked')){
                    $('#renovacion_renovar_numeroPagos').prop('disabled', false);
                }else{
                    $('#renovacion_renovar_numeroPagos').prop('disabled', true);
                    $('#renovacion_renovar_numeroPagos').val(null);
                }
            });

            $('[id^=renovacion_renovar_tipoFechaRenovacion]').change(function(){
                if($('#renovacion_renovar_tipoFechaRenovacion_1').is(':checked')){
                    $('#renovacion_renovar_fechaRenovacion').prop('disabled', false);
                }else{
                    $('#renovacion_renovar_fechaRenovacion').prop('disabled', true);
                }
            });

            $('[id^=renovacion_renovar_tipoFechaRenovacion]').each(function(){
                if($('#renovacion_renovar_tipoFechaRenovacion_1').is(':checked')){
                    $('#renovacion_renovar_fechaRenovacion').prop('disabled', false);
                }else{
                    $('#renovacion_renovar_fechaRenovacion').prop('disabled', true);
                }
            });

        });

    </script>


    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}

            <fieldset>
                <legend class="text-uppercase font-size-sm font-weight-bold">{% trans %}TRANS_DOCUMENTO_RENOVACION{% endtrans %}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.documentoRenovacion, {'attr': {'class': 'form-check-input-styled'}}) }}
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend class="text-uppercase font-size-sm font-weight-bold">{% trans %}TRANS_FECHA_RENOVACION{% endtrans %}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.tipoFechaRenovacion) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        {{ form_row(form.fechaRenovacion) }}
                    </div>
                </div>
            </fieldset>

            <fieldset id="fraccionamiento">
                <legend class="text-uppercase font-size-sm font-weight-bold">{% trans %}TRANS_FRACCIONAMIENTO_PAGO{% endtrans %} <span id="noAplicable" class="text-grey" style="font-style: italic;"></span></legend>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.fraccionamientoPago) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        {{ form_row(form.numeroPagos) }}
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend class="text-uppercase font-size-sm font-weight-bold">{% trans %}TRANS_PLANIFIFCACIONES_VIGILANCIA_SALUD{% endtrans %}</legend>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.planificacionesVigSalud) }}
                    </div>
                </div>
            </fieldset>

            <div class="row" style="display: none;">
                <div class="col-lg-4">
                    {{ form_row(form.contrato) }}
                </div>
                <div class="col-lg-4">
                    {{ form_row(form.fechainicio) }}
                </div>
                <div class="col-lg-4">
                    {{ form_row(form.fechavencimiento) }}
                </div>
            </div>

        </div>

        <div class="card-footer d-flex justify-content-between align-items-center border-top-0">
            {% if app.session.get('privilegiosRol').editRenovacionSn is defined and app.session.get('privilegiosRol').editRenovacionSn is not null %}
                {% if app.session.get('privilegiosRol').editRenovacionSn %}
                    {{ form_row(form.guardar) }}
                {% else %}
                    {{ form_row(form.guardar, {'attr': {'style': 'display: none;'}}) }}
                {% endif %}
            {% else %}
                {{ form_row(form.guardar, {'attr': {'style': 'display: none;'}}) }}
            {% endif %}
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}



