{% extends 'theme/template.html.twig' %}
{% trans_default_domain 'facturacion' %}

{% block title %} {% trans from 'dashboard' %}TRANS_IMPAGADOS{% endtrans %} {% endblock %}
{% block subtitle %} {% trans %}TRANS_LISTADO{% endtrans %} {% endblock %}

{% block actions %}
{% endblock %}


{% block card %}

    <script type="text/javascript">

        $(document).ready(function(){

            var arrayData = [];

            {% for giro in giros %}
                var array = [];

                array.push('{{ giro.empresa }}', '{{ giro.comercial }}', '{{ giro.tecnico }}', '{{ giro.colaborador }}', '{{ giro.num_fac }}', '{{ giro.vencimiento|date('d/m/Y') }}', '{{ giro.formapago }}', '{{ giro.concepto }}', '{{ giro.importe|number_format(2, ",", ".") }} €');
                arrayData.push(array);
            {% endfor %}

            $.extend( $.fn.dataTable.defaults, {
                // autoWidth: true,
                // columnDefs: [{
                //     width: 100,
                // }],
                // ordering: true,
                deferRender: true,
                dom: '<"datatable-header"fBl><"datatable-scroll-wrap"t><"datatable-footer"ip>',
                lengthMenu: [[10, 25, 50, 100, 500, 2000, 5000], [10, 25, 50, 100, 500, 2000, 5000]],
                language: {
                    search: '<span>Filtrar:</span> _INPUT_',
                    searchPlaceholder: 'Escriba para filtrar...',
                    lengthMenu: '<span>Mostrar:</span> _MENU_',
                    paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
                },
                data: arrayData
            });

            $('.datatable-export-excel').DataTable({
                order: [[0, "asc"]],
                buttons: {
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            className: 'btn btn-success',
                            text: '<i class="icon-file-spreadsheet mr-2"></i> Exportar a Excel',
                            fieldSeparator: '\t',
                            extension: '.xlsx'
                        }
                    ]
                }
            });

            {% if app.session.get('privilegiosRol').exportFacturacionSn is defined and app.session.get('privilegiosRol').exportFacturacionSn is not null %}
                {% if app.session.get('privilegiosRol').exportFacturacionSn != true %}
                    $('.dt-buttons').css('display', 'none');
                {% endif %}
            {% endif %}
        });

    </script>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success bg-white alert-styled-left alert-arrow-left alert-dismissible">
            <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger bg-white alert-styled-left alert-arrow-left alert-dismissible">
            <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
            {{ message }}
        </div>
    {% endfor %}


    <div class="card">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
            <div class="datatable-scroll">
                <table class="table datatable-export-excel dataTable no-footer" id="DataTables_Table_0" role="grid"
                       aria-describedby="DataTables_Table_0_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Empresa" aria-sort="ascending">{% trans %}TRANS_EMPRESA{% endtrans %}
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Agente">{% trans from 'empresas' %}TRANS_AGENTE{% endtrans %}
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Tecnico">{% trans from 'empresas' %}TRANS_TECNICO{% endtrans %}
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Colaborador">{% trans from 'empresas' %}TRANS_COLABORADOR{% endtrans %}
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Factura">{% trans %}TRANS_FACTURA{% endtrans %}
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Fecha">{% trans %}TRANS_FECHA{% endtrans %}
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="FormaPago">{% trans %}TRANS_FORMA_PAGO{% endtrans %}
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Concepto">{% trans %}TRANS_CONCEPTO{% endtrans %}
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Importe">{% trans %}TRANS_IMPORTE{% endtrans %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}